* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-image: url(../images/dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.411);
  background-blend-mode: multiply;
  padding: 15px 0;
}

.container {
  width: 900px;
  margin: auto;
}
.flex {
  display: flex;
}
.logo{
  width: 20%;
}
.logo h2 {
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.logo h2 span {
  font-size: 16px;
  font-weight: 400;
  display: block;
}
nav {
  width: 80%;
}
nav ul{
  display: flex;
  justify-content: end;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 8px;
  text-decoration: none;
}

/* banner */
.banner{
  color: white;
  text-align: center;
  padding: 150px 0;
}
.banner h3 {
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
}
.banner hr {
  width: 100px;
  height: 5px;
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  background: #fb2259;
  border: none;
  border-radius: 5px;
}
.banner h1 {
  margin: 36px;
  font-size: 63px;
  font-weight: 600;
}
.banner a {
  color: white;
  background-color: #fb2259;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
}



.event {
  padding: 60px;
  text-align: center;
  font-size: 30px;
  color: black;
}
.event span {
  width: 100px;
  height: 5px;
  background: #fb2259;
  display: block;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.content {
  padding: 20px;
  text-align: center;  
}
.content img {
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #8080807d;
}
.content h2 {
  font-size: 30px;
  color: #000000cc;
  margin: 20px 0 0 0;
}
.content p {
  color: #373737;
  font-size: 18px;
  margin-bottom: 36px;
}
.content a {
  color: white;
  background-color: #fb2259;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
  
}




.explore-content {
  background-image: url("../images/father.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #1767d6b8;
  background-blend-mode: multiply;
  padding: 150px 0;
  margin-top: 100px;
  color: white;

}
.flex {
  display: flex;
  justify-content: end;
}
.content-container {
  width: 50%;
}
.content-container h2 {
  font-size: 60px;
}
.content-container span {
  width: 100px;
  height: 5px;
  display: block;
  background: #fb2259;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 5px;
}
.content-container p{
  font-size: 18px;
  margin: 10px 0 36px 0;
}
.content-container a {
  color: white;
  background-color: #fb2259;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
}
.upcoming-content {
  padding: 60px 0;
  display: flex;
}
.tures {
  padding: 10px;
  width: 33.33%;
}
.tures h3 {
  font-size: 26px;
}
.tures span {
  width: 100px;
  height: 5px;
  background: #FB2259;
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;

}
.tures p {
  font-size: 18px;
  padding-bottom: 36px;
}
.tures a {
  color: white;
  background-color: #fb2259;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;

}
.small {
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.big {
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}
.one {
  width: 100%;
  height: 5px;
  display: block;
  background: #FB2259;
  margin-top: 5px;
  margin-bottom: 10px;
}
.two {
width: 100%;
  height: 5px;
  display: block;
  background: #FB2259;
  margin-top: 5px;
  margin-bottom: 25px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer div ul {
  list-style: none;
  font-size: 18px;
} 
.footer div ul li {
  padding: 5px;
}
.footer div ul li a {
  text-decoration: none;
  padding: 10px;
}



/* 0 to 480 px */
@media only screen and (max-width: 600px){
  
  .container {
    width: 450px;
  }
  .flex2{
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 15%;
  }
  nav {
    width: 70%;
  }
  .banner h1 {
    margin: 10px 10px;
    font-size: 40px;
  }
  .banner a{
    margin-top: 10px;
    display: inline-block;
  }
  .banner{
    padding: 80px 0;
  }
  h2{
    font-size: 20px;
  }
.event {
  padding: 20px;
}
.content {
  width: 100%; 
}
.content-container{
  flex-direction: column;
}
.content img {
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #8080807d;
}
.content h2 {
  font-size: 20px;
  color: #000000cc;
  margin: 20px 0 0 0;
}
.content p {
  color: #373737;
  font-size: 18px;
  margin-bottom: 36px;
}
.content a {
  color: white;
  background-color: #fb2259;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
  
}

.explore-container{
  width: 100%
}

.upcoming-content {
  padding: 60px 0;
  flex-direction: column;
}
.tures {
  width: 100%;
}

.footer {
  flex-direction: column;
}
.footer div ul {
  list-style: none;
  font-size: 18px;
} 
.footer div ul li {
  padding: 5px;
}
.footer div ul li a {
  text-decoration: none;
  padding: 10px;
}

}